---
import RoundedButton from "../components/RoundedButton.astro";
import LogoutButton from "../components/LogoutButton.astro";
import MainLayout from "../layouts/MainLayout.astro";
import { auth } from "../lib/lucia";

const authRequest = auth.handleRequest(Astro);
const { user } = await authRequest.validateUser();
if (!user) return Astro.redirect("/api/oauth?provider=discord", 302);
---

<MainLayout>
	<div class="flex items-center justify-center w-screen h-screen">
		<div
			class="p-10 space-y-5 text-center bg-white rounded-2xl drop-shadow-lg shadow-m"
		>
		<div class="m-4 text-4xl font-bold text-gray-700">Reporty</div>
		<div class="m-4 text-gray-700">Welcome to the Reporty Dashboard, {user.username}!</div>
		<div>
			<div class="flex justify-center">
				<RoundedButton iconname="jam:triangle-danger-f" path="/reporting" service="Reporting" width="25" css="bg-red-500 hover:bg-red-600"/>
			</div>
			<div class="flex justify-center">
				<RoundedButton iconname="material-symbols:search" path="/checking" service="Checking" width="25" css="bg-green-500 hover:bg-green-600"/>
			</div>
		</div>
		<div>
			{user.admin ? 
				<div class="flex justify-center">
					<RoundedButton iconname="eos-icons:admin" path="/admin" service="Admin Panel" width="25" css="bg-blue-400 hover:bg-blue-500"/>
				</div>
				:
				null
			}
		</div>
		<div class="flex justify-center">
			<LogoutButton iconname="ic:baseline-log-out" service="Log Out" width="25"/>
		</div>
		</div>
	</div>
</MainLayout>
