---
export interface Props {
	iconname: string;
	width: string;
	service: string;
	css: string;
}

const { width } = Astro.props;
const { iconname } = Astro.props;
const { service } = Astro.props;
const { css } = Astro.props;

import { Icon } from "astro-iconify";
---

<button
	type="button"
	class={`flex items-center justify-center p-2 m-1 w-40 text-center rounded-lg ${css}`}
	data-bs-toggle="modal"
	data-bs-target="#exampleModal"
>
	<Icon name={iconname} width={width} />
	<div class="ml-2 text-lg text-white">{service}</div>
</button>

<style lang="css">
	[astro-icon] {
		color: white;
	}
</style>
