---
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico?" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="Reporty is a service to report and prevent scams"
		/>
		<meta content="Reporty" property="og:title" />
		<meta
			content="Reporty is a service to report and prevent scams"
			property="og:description"
		/>
		<meta content="https://reporty.ithundxr.dev" property="og:url" />
		<meta content="/reporty.png" property="og:image" />
		<meta content="#ba132d" data-react-helmet="true" name="theme-color" />
		<title>Reporty</title>
	</head>
	<body>
		<div
			class="flex flex-col items-center justify-center min-h-screen bg-gray-50 dark:bg-neutral-900"
		>
			<slot />
		</div>
	</body>
</html>
